@inherits LayoutComponentBase

<PageTitle>ESIV Oblivion Alchemy</PageTitle>

<div>
    <div>
        <NavMenu />
    </div>

    <main>
        <article class="content mx-2">
            @Body
        </article>
    </main>

</div>
