<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand px-2" href="">ESIV Alchemy</a>
        <button class="navbar-toggler" type="button" @onclick="ToggleNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavCollapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav me-auto">
                <div class="nav-item">
                    <NavLink class="nav-link px-3" href="" Match="NavLinkMatch.All">
                        Home
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link px-3" href="ingredients">
                        Ingredients
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link px-3" href="effects">
                        Effects
                    </NavLink>
                </div>
            </div>
        </div>
    </div>
</nav>


@code {

    private bool collapseNavMenu = true;

    private string? NavCollapse => collapseNavMenu ? "collapse" : null;

    private void ToggleNav()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
